.wrapper
  = render 'groups/side_bar'
  .chat-main
    .main-header
      .current-group
        %h2.current-group__name 渋谷
        %p.current-group__user
          member：本田、本間
      .edit-group
        = link_to edit_group_path(current_user) do
          .edit-group__btn Edit
    .main-body
      .messages
        .message
          .message__header
            .message__header__name
              本田
            .message__header__time
              2019/02/06
          .message__text
            本田テスト
    .main-footer
      .message-form
        %input.message-form__text{placeholder: "type a message"}
        %label.message-form__mask
          = fa_icon 'picture-o'
      .main-footer__send Send
